<main>
  <section class="images">
    <div class="img-topside">
      <div class="img-topleft">
        <img src="../../assets/about img 9.jpg" alt="">
        <img src="../../assets/about img 8.jpg" alt="">
      </div>
      <img src="../../assets/about img 7.jpg" alt="">
    </div>
    <img src="../../assets/about img 5.jpg" alt="">
  </section>
  <section class="about-info">
    <h1>Történetünk</h1>
    <section class="text-section">
      <div class="text-container">
        <p>{{currentText[0]}}</p>
        <p>{{currentText[1]}}</p>
      </div>
      <ul>
        <li (click)="updateText(0)" [class.selected]="currentTextNo == 0">
          <div></div>
          2018
        </li>
        <li (click)="updateText(1)" [class.selected]="currentTextNo == 1">
          <div></div>
          2020
        </li>
        <li (click)="updateText(2)" [class.selected]="currentTextNo == 2">
          <div></div>
          2024
        </li>
      </ul>
    </section>
    <ul>
      <li>
        <div class="circle">
          <img src="../../assets/hungary flag.svg" alt="">
        </div>
        <h2>Szállítás</h2>
        <p>Ingyenes szállítás <br> 10000 Ft fölött</p>
      </li>
      <li>
        <div class="circle">
          <img src="../../assets/eco.svg" alt="">
        </div>
        <h2>Szállítás</h2>
        <p>Ingyenes szállítás <br> 10000 Ft fölött</p>
      </li>
      <li>
        <div class="circle">
          <img src="../../assets/care.svg" alt="">
        </div>
        <h2>Szállítás</h2>
        <p>Ingyenes szállítás <br> 10000 Ft fölött</p>
      </li>
    </ul>
  </section>
</main>
