<main>
  <section class="images">
    <div class="img-topside">
      <div class="img-topleft">
        <img src="../../assets/about img 9.jpg" alt="">
        <img src="../../assets/about img 8.jpg" alt="">
      </div>
      <img src="../../assets/about img 7.jpg" alt="">
    </div>
    <img src="../../assets/about img 5.jpg" alt="">
  </section>
  <section class="about-info">
    <h1>Történetünk</h1>
    <section class="text-section">
      <div class="text-container">
        <p>Mr. Chili egy 2024-ben alapult... Lorem ipsum dolor sit amet consectetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur. Amet sed sed est diam. Sapien vitae dolor ut sit pellentesque nunc at velit. Vitae semper nisl nunc ultrices elementum feugiat in magna. </p>
      </div>
      <ul>
        <li>
          <div></div>
          2018
        </li>
        <li class="selected">
          <div></div>
          2020
        </li>
        <li>
          <div></div>
          2024
        </li>
      </ul>
    </section>
    <ul>
      <li>
        <div class="circle">
          <img src="../../assets/hungary flag.svg" alt="">
        </div>
        <h2>Szállítás</h2>
        <p>Ingyenes szállítás <br> 10000 Ft fölött</p>
      </li>
      <li>
        <div class="circle">
          <img src="../../assets/eco.svg" alt="">
        </div>
        <h2>Szállítás</h2>
        <p>Ingyenes szállítás <br> 10000 Ft fölött</p>
      </li>
      <li>
        <div class="circle">
          <img src="../../assets/care.svg" alt="">
        </div>
        <h2>Szállítás</h2>
        <p>Ingyenes szállítás <br> 10000 Ft fölött</p>
      </li>
    </ul>
  </section>
</main>
