<main>
  <section class="banner">
    <div class="banner-text">
      <div class="banner-headline">
        <h1>Mr. Chili</h1>
        <h2>Csípni fogod</h2>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Adipisci ex, quam id expedita officia accusantium. 
        Mollitia asperiores ipsam aperiam quod! 
        Autem eos aliquid inventore esse, iste blanditiis nesciunt laudantium dolores.
      </p>
      <button>Termékek</button>
    </div>
    <div class="banner-carousel">
      <button class="chevron-left">
        <img src="../assets/chevron-left.svg" alt="">
      </button>
      <button class="chevron-right">
        <img src="../assets/chevron-right.svg" alt="">
      </button>
      <ul>
        <li></li>
        <li class="selected">
          
        </li>
        <li></li>
      </ul>
    </div>
  </section>
  <ul>
    <li>
      <div class="circle">
        <img src="../assets/transport.svg" alt="">
      </div>
      <h2>Szállítás</h2>
      <p>Ingyenes szállítás <br> 10000 Ft fölött</p>
    </li>
    <li>
      <div class="circle">
        <img src="../assets/like.svg" alt="">
      </div>
      <h2>Elégedettség</h2>
      <p>100%-os vásárlói <br> elégedettség</p>
    </li>
    <li>
      <div class="circle">
        <img src="../assets/sale.svg" alt="">
      </div>
      <h2>Akciók</h2>
      <p>Gyakori akciók <br>és nyereményjátékok</p>
    </li>
  </ul>
</main>
